<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
        {% include 'components/navbar.html' %}
    <main class="content">
        {% block content %}
        <div class="about">{% block about %} 
            {% include 'components/projects/projects.html' %}
            {% endblock about %}</div>
        <div class="project">{% block project %} {% endblock project %}</div>
        <div class="blog">{% block blog %} {% endblock blog %}</div>
        {% endblock content %}
    </main>

</body>

</html>