/* style for the container of all projects */
.container {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    width: 72.9%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    overflow: hidden;
}

/* style for the container of a  single project */
.projects_container {
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 300px;
    height: 300px;
    margin-right: 20px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

/* style for the img of the single project container */
.projects_container img {
    width: 300px;
    height: 250px;
}

/* some additionao style */
.projects_container:last-child {
    margin-right: 0px;
}

/* style for layer with view more button */

.layer {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 345px;
    width: 300px;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(60, 60, 60, 0.1)),
        to(rgba(80, 80, 80, 0.2)),
        color-stop(0.5, #333333)
    );
    transition: all 0.9s ease-in;
    -webkit-transition: all 0.9s ease-in;
    -moz-transition: all 0.9s ease-in;
    -ms-transition: all 0.9s ease-in;
    -o-transition: all 0.9s ease-in;
    position: absolute;
    top: 101%;
}

/* brings up the layer with the button */
.projects_container:hover .layer {
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition: all 0.9s ease-in;
    -webkit-transition: all 0.9s ease-in;
    -moz-transition: all 0.9s ease-in;
    -ms-transition: all 0.9s ease-in;
    -o-transition: all 0.9s ease-in;
}

/* styling for button */

.btn,
input[type="submit"] {
    cursor: pointer;
    border-radius: 0px;
    text-decoration: none;
    padding: 12px 18px;
    font-size: 12px;
    line-height: 19px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn-mid {
    border-radius: 0px;
    text-decoration: none;
    padding: 14px 21px;
    font-size: 13px;
    line-height: 25px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.btn:hover,
input[type="submit"]:hover {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.btn-white {
    border: solid 2px #fff;
    background: transparent;
    color: #fff !important;
}
.btn-white:hover {
    border: solid 2px #fff;
    background: #fff;
    color: #1f1f1f !important;
}

.btn-color {
    background: transparent;
}
.btn-color:hover {
    color: #fff;
}
